In [1]:
num = 100
print(num)

100

In [2]:
print("data type of variable num is", type(num))

data type of variable num is <class 'int'>

In [3]:
print("data type of variable num is" type(num))

SyntaxError: invalid syntax (2942985584.py, line 1)

In [4]:
print(type(num))

<class 'int'>

In [5]:
fnum = 34.45
print(fnum)
print("data type of variable fnum is", type(fnum))

34.45
data type of variable fnum is <class 'float'>

In [6]:
cnum = 3 + 4j
print(cnum)
print("data type type of variable cnum is", type(cnum))

(3+4j)
data type type of variable cnum is <class 'complex'>

In [9]:
#concatenating strings
str1 = "Hello, my name is Miracle"
str2 = "I am a boy"
str3 = str1 + "," + " " + str2
print(type(str3))
print(str3)

<class 'str'>
Hello, my name is Miracle, I am a boy

In [10]:
t1 = (1, 2, 3, 4)
print(type(t1))

<class 'tuple'>

In [13]:
for a in t1:
    print (a)

1
2
3
4

In [16]:
str = "1 is a number"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
t2 = [1, 2, 3, 4]

In [19]:
print(type(t2))

<class 'list'>

In [20]:
for a in t2:
    print( a + 2)

3
4
5
6

In [21]:
print("the first number is", t2[1])

the first number is 2

In [24]:
newSet = {"a", "b", "c", "d", "e", "f", "a"}
for a in newSet:
    print(a)

d
f
a
c
b
e

In [27]:
#Simple interest formula
p = 1000
r = 1
t = 2
a = (p * (1 + ((r / 100)* t)))
si = a - p
print("simple interest is", si)
print("amount is", a)

simple interest is 20.0
amount is 1020.0

In [28]:
import cmath

In [37]:
a = 1
b = 5 
c = 6
d = (b**2) - 4*a*c
sol1 = ((-b + cmath.sqrt(d)) / 2 * a)
sol2 = ((-b - cmath.sqrt(d)) / 2 * a)
print("the solutions are x =", sol1,",","x =", sol2)

the solutions are x = (-2+0j) , x = (-3+0j)

In [38]:
a = float(input("Enter the first side: "))

Enter the first side: 1

In [44]:
print(a)

1.0

In [40]:
b = float(input("Enter the second side: "))
c = float(input("Enter the third side: "))

Enter the second side: 2
Enter the third side: 3

In [41]:
print(a, b, c)

1.0 2.0 3.0

In [42]:
s = (a + b + c) / 2
area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

In [43]:
print(area)

0.0

In [45]:
a = float(input("Enter the first side: "))
b = float(input("Enter the second side: "))
c = float(input("Enter the third side: "))
s = (a + b + c) / 2
area = (s * (s - a) * (s - b) * (s - c)) ** 0.5
print("The area of the triangle is %0.2f" %area)

Enter the first side: 5
Enter the second side: 6
Enter the third side: 7
The area of the triangle is 14.70

In [46]:
a = str(input("Enter your name: "))

Enter your name: miracle

In [47]:
print(a)

miracle

In [48]:
name1 = str(input("Enter first name: "))
age1 = int(input("Enter first age: "))
name2 = str(input("Enter second name: "))
age2 = int(input("Enter second age: "))
subName = name2
subAge = age2
name2 = name1
age2 = age1
name1 = subName
age1 = subAge
print(name1 = age1)
print(name2 = age2)

Enter first name: Karo
Enter first age: 29
Enter second name: Oyinda
Enter second age: 30

TypeError: 'name1' is an invalid keyword argument for print()

In [49]:
name1 = str(input("Enter first name: "))
age1 = int(input("Enter first age: "))
name2 = str(input("Enter second name: "))
age2 = int(input("Enter second age: "))
subAge = age2
age2 = age1
age1 = subAge
print(name1)

Enter first name: Bean
Enter first age: 12
Enter second name: Sawney
Enter second age: 14
Sawney

In [50]:
name1 = str(input("Enter first name: "))
age1 = int(input("Enter first age: "))
name2 = str(input("Enter second name: "))
age2 = int(input("Enter second age: "))
subAge = age2
age2 = age1
age1 = subAge
print(name1, age1)

Enter first name: Bean
Enter first age: 12
Enter second name: Sawney
Enter second age: 14
Bean 14

In [51]:
name1 = str(input("Enter first name: "))
age1 = int(input("Enter first age: "))
name2 = str(input("Enter second name: "))
age2 = int(input("Enter second age: "))
subAge = age2
age2 = age1
age1 = subAge
print(name1, "=" age1)
print(name2, "=" age2)

SyntaxError: invalid syntax (3277405744.py, line 8)

Enter first name: Bean
Enter first age: 12
Enter second name: Sawney
Enter second age: 14
Bean = 14
Sawney = 12